a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 10px;
}

body div {
  color: black;
  background-color: white;
  opacity: 0.9;
  padding: 5%;
  text-align: center;
  line-height: 1.9;
}

body h1 {
  font-size: 2em;
  color: white;
  background-color: orange !important;
  textpadding-top: 10px;
  text-align: center;
}

body h2 {
  font-size: 1.4em;
  color: white;
}

body p {
  padding: 1%;
  text-align: left;
  border: 1px solid #66a3ff;
  text-decoration-color: black;
}

* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.navbar ul {
  font-size: 1em !important;
  top: 1% !important;
  z-index: 9999 !important;
  bottom: 90%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  align-content: center;
  text-align: center;
  float: right;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 0 !important;
  margin-right: 0;
  width: 100%;
}

.navbar li a:hover {
  color: navajowhite;
  text-decoration: line-through;
}

.navbar div {
  margin-bottom: 2000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-left: 0 !important;
  margin-right: 0;
  left: 0%;
  display: inline-block;
  list-style-type: none;
  right: 0%;
}

li {
  float: right;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 0 !important;
  margin-right: 0;
  width: 100%;
}

li a:hover {
  color: navajowhite;
  text-decoration: line-through;
}

h3 {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  font-family: "American Typewriter";
}

h2,
h3,
h4,
h5,
a {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  background-color: orange !important;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  background-color: none;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-left: 0 !important;
  margin-right: 0;
  left: 0%;
  display: inline-block;
  list-style-type: none;
  right: 0%;
}

footer {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 0 !important;
  margin-right: 0;
  width: 100%;
}

li a:hover {
  color: navajowhite;
  text-decoration: line-through;
}

html {
  height: 100%;
  width: 100%;
}

.logo {
  width: 100%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 900px;
  position: relative;
  object-fit: cover;
}

#__processing0 {
  padding: 1%;
}
